* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.single-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-right: 100px;
}



.booksDisplayed-section {
  width: 100%;
}

li {
  margin: 2px;
}

li:hover {
  cursor: pointer;
}