* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.single-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-right: 100px;
}

.genre-div {
  display: flex;
  flex-direction: column;
}

.genre-btn {
  border-color: transparent;
  background-color: white;
  margin: 2px;
}

.genre-btn:hover {
  cursor: pointer;
}

.category_filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.filter-btn {
  border-color: transparent;
  background-color: white;
}

.filter-btn:hover {
  cursor: pointer;
}

.booksDisplayed-section {
  width: 100%;
}

li {
  margin: 2px;
}

li:hover {
  cursor: pointer;
}